.category-page {
  padding: 40px;
}

.category-title {
  font-size: 70px;
  text-align: center;
  margin-bottom: 50px;
  text-transform: capitalize;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 45px;
}

.load-more-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.load-more-btn {
  padding: 16px 45px;
  border: none;
  background: black;
  color: white;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}

.load-more-btn:hover {
  background: #ff4f7b;
}

@media (max-width: 1000px) {

  .products-grid {
    grid-template-columns: repeat(2, 1fr);
  }

}

@media (max-width: 700px) {

  .products-grid {
    grid-template-columns: repeat(1, 1fr);
  }

}