.product-card {
  width: 100%;
  background: white;
  overflow: hidden;
  transition: 0.3s;
}

.product-card:hover {
  transform: translateY(-5px);
}

.image-box {
  width: 100%;
  height: 650px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.4s;
}

.img2 {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.image-box:hover .img2 {
  opacity: 1;
}

.image-box:hover .img1 {
  opacity: 0;
}

.quick-view {
  position: absolute;
  bottom: -60px;
  width: 100%;
  background: rgba(0, 0, 0, 0.85);
  color: white;
  text-align: center;
  padding: 15px;
  transition: 0.3s;
  font-size: 16px;
  letter-spacing: 1px;
}

.image-box:hover .quick-view {
  bottom: 0;
}



.title {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  margin-top: 18px;
  color: #222;
  padding: 0 5px;
}

.price {
  color: #ff4f7b;
  font-size: 24px;
  font-weight: 600;
  margin-top: 8px;
  padding: 0 5px;
}