/* PAGE */
.profile-page {
  min-height: 100vh;
  background: #f6f6f8;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}

/* CARD */
.profile-card {
  width: 100%;
  max-width: 420px;
  background: white;
  border-radius: 20px;
  padding: 35px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.08);
}

/* TOP */
.profile-top {
  text-align: center;
  margin-bottom: 30px;
}

/* AVATAR */
.profile-avatar {
  width: 90px;
  height: 90px;
  margin: auto;
  border-radius: 50%;
  background: #ff4f81;
  color: white;
  font-size: 34px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

/* NAME */
.profile-top h2 {
  margin-bottom: 8px;
  font-size: 28px;
  color: #222;
}

/* EMAIL */
.profile-top p {
  color: #777;
  font-size: 15px;
}

/* DETAILS */
.profile-details {
  margin-top: 25px;
}

/* ROW */
.detail-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-bottom: 12px;
  border-bottom: 1px solid #eee;
}

.detail-row span {
  color: #888;
  font-size: 14px;
}

.detail-row strong {
  color: #222;
  font-size: 15px;
}

/* BUTTONS */
.profile-buttons {
  display: flex;
  gap: 15px;
  margin-top: 30px;
}

/* BUTTON */
.profile-buttons button {
  flex: 1;
  padding: 13px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;
  transition: 0.3s;
}

/* EDIT */
.edit-btn {
  background: #ff4f81;
  color: white;
}

/* ORDERS */
.orders-btn {
  background: #111;
  color: white;
}

/* HOVER */
.profile-buttons button:hover {
  opacity: 0.9;
  transform: translateY(-2px);
}
/* INPUT */
.detail-row input {
  width: 180px;
  padding: 8px 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  outline: none;
  font-size: 14px;
}